@import url("https://fonts.googleapis.com/css?family=Pacifico");
@import url('https://fonts.googleapis.com/css?family=Butterfly+Kids&display=swap');
*, *:before, *:after {
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
}

.birthday-container {
  display: flex;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background: #ededed;
}

.birthday-container__text {
  font-family: 'Pacifico', cursive;
  letter-spacing: .1rem;
  color: #D0378C;
  position: absolute;
  z-index: 100;
  top: 0;
  font-size: 18vmin;
  padding: 2vmin;
  margin: 0;
  text-align: center;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  left: 50%;
  opacity: 0;
  -webkit-animation: birthday-container__text 1s 2s forwards;
          animation: birthday-container__text 1s 2s forwards;
}

@-webkit-keyframes birthday-container__text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes birthday-container__text {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.birthday-container__graphic {
  width: 100vmin;
  height: 100vmin;
  background: #ededed;
  position: relative;
}

.cake {
  width: 50%;
  height: 45%;
  position: absolute;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  border: 2vmin solid black;
  bottom: 3vmin;
  left: 50%;
  border-radius: 10vmin 10vmin 0 0;
  background: linear-gradient(to right, #fee5cb 0%, #fee5cb 8%, #facc93 9%, #facc93 100%);
}
.cake__bottom {
  height: 15%;
  width: 100%;
  position: absolute;
  bottom: 0px;
  border-top: 1.5vmin solid black;
  background: linear-gradient(to bottom, #e999c4 0%, #e999c4 20%, #d0378c 25%, #d0378c 100%);
}
.cake__bottom::before {
  content: ' ';
  position: absolute;
  width: 9%;
  height: 100%;
  left: 0;
  background: #FEE5CB;
}
.cake__top {
  position: absolute;
  width: 100%;
  height: 20%;
  background: #32B9EC;
  border-radius: 10vmin 10vmin 0 0;
  border-bottom: 2vmin solid black;
}
.cake__top::before, .cake__top::after {
  content: " ";
  width: 6%;
  height: 0%;
  position: absolute;
  background: #32B9EC;
  border-radius: 0 0 10vmin 10vmin;
  border: 2vmin solid black;
  border-top: none;
  top: 100%;
  left: 20%;
  -webkit-animation: cake__top-left 1.5s 1s forwards;
          animation: cake__top-left 1.5s 1s forwards;
}
.cake__top::after {
  left: 37%;
  height: 0%;
  -webkit-animation: cake__top-right 2s 1s forwards;
          animation: cake__top-right 2s 1s forwards;
}
@-webkit-keyframes cake__top-left {
  0% {
    height: 0%;
  }
  100% {
    height: 140%;
  }
}
@keyframes cake__top-left {
  0% {
    height: 0%;
  }
  100% {
    height: 140%;
  }
}
@-webkit-keyframes cake__top-right {
  0% {
    height: 0%;
  }
  100% {
    height: 230%;
  }
}
@keyframes cake__top-right {
  0% {
    height: 0%;
  }
  100% {
    height: 230%;
  }
}
.cake__cherry {
  position: absolute;
  width: 17%;
  height: 17%;
  background: #D0378C;
  border-radius: 50%;
  border: 1.5vmin solid black;
  top: -18%;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  -webkit-animation: cake__cherry 1s forwards;
          animation: cake__cherry 1s forwards;
}
.cake__cherry::before {
  content: ' ';
  width: 80%;
  height: 60%;
  position: absolute;
  border-right: 1.5vmin solid black;
  border-bottom: 1.5vmin solid black;
  border-bottom-right-radius: 150%;
  bottom: 100%;
  left: 90%;
  -webkit-transform: rotate(-20deg);
          transform: rotate(-20deg);
}
@-webkit-keyframes cake__cherry {
  0% {
    -webkit-transform: translate(-50%, -5000%);
            transform: translate(-50%, -5000%);
  }
  100% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}
@keyframes cake__cherry {
  0% {
    -webkit-transform: translate(-50%, -5000%);
            transform: translate(-50%, -5000%);
  }
  100% {
    -webkit-transform: translate(-50%, 0%);
            transform: translate(-50%, 0%);
  }
}

img {
  max-width: 100%;
}
body {
/*   background:  linear-gradient(
      rgba(255, 250, 250, 0.75), 
      rgba(255, 250, 250, 0.75)), url(https://image.freepik.com/free-vector/forest-herbs-blue-background_8365-70.jpg); */
/*     background:     linear-gradient(
      rgba(255, 250, 250, 0.75), 
      rgba(255, 250, 250, 0.75)
    ), url(https://i.pinimg.com/736x/3c/c0/54/3cc0541a55ce0550f78246bed0a96380--vintage-floral-backgrounds-vintage-wallpapers.jpg); */
    background:  linear-gradient(
      rgba(255, 255, 255, 0.9), 
      rgba(255, 255, 255, 0.9)), url(https://img.freepik.com/free-vector/realistic-style-happy-birthday-background_52683-20020.jpg?size=626&ext=jpg);
  font-family: 'Butterfly Kids', cursive;
  font-size: 25px;
}


.container {
  overflow: hidden;
 // margin-top: 3%;
}
.book-wrapper {
  position: relative;
  margin: 2% auto;
  width: 1000px;
}

.book-wrapper img {
      filter: drop-shadow(15px 5px 5px #494338);
}
.pages-container {
    position: absolute;
    top: 4%;
    left: 3%;
    right: 0;
    bottom: 0;
    width: 91.5%;
    height: 91%;
}

.pages {

}
.pages [class^="page-num-"] {
	background-image: url("https://img00.deviantart.net/cbb9/i/2005/258/c/4/paper_texture_v5_by_bashcorpo.jpg");
   background-size: auto 100%;
  position: relative;
}


.pages-content {
      position: absolute;
    width: 100%;
    height: 100%;
    display: table;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10%;
}

.content-inner {
    display: table-cell;
    vertical-align: middle;
}


.book-wrapper {
   user-select: none;
}


.page-num-1 .pages-background {
    background: linear-gradient( rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1)), url(https://openclipart.org/image/2400px/svg_to_png/242093/Vintage-Floral-Texture-Background.png);
    background-size: cover;
    opacity: 0.2;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.text p { font-size: 31px; }